<div class="page_data_loader_popup" *ngIf="show_loader"></div>
<div class="dashboard-content-inner pt-3 pl-4 pr-4" >
	<div class="dashboard-headline mb-4">
		<div class="row">
			<div class="col-xl-6 col-md-6 col-lg-6">
				<h3>Company Users</h3>
			</div>
			<div class="col-xl-6 col-md-6 col-lg-6">
				<nav id="breadcrumbs" class="dark">
					<ul>
						<li><a [routerLink]="['/admin/dashboard']">Home</a></li>
						<li>Manage Company</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
	
	
	<div class="row">
		<div class="col-xl-12">
			<div class="dashboard-box margin-top-0">
				<div class="headline pt-3 pb-2 pl-3 pr-3">
					<div class="row">
						
						<div class="col-md-6 col-sm-6 col-lg-6">
							<h3 class="mb-0 line-height-40"><i class="icon-material-outline-business-center"></i> Company List</h3>
						</div>
						<div class="col-md-6 col-sm-6 col-lg-6">
							<div class="float-right">
								<button (click)="quick_register(job_type_template)" title="Add" class="btn btn-sm btn-outline-primary font-size-13px mr-1"><i class="icon-material-outline-add"></i></button>
							</div>
							<div class="float-right mr-2">
								<input type="text" class="form-control form-control-sm" name="search" id="search" placeholder="Search Users" [(ngModel)]="this.searchstring" (input)="search_users()" />
							</div>
						</div>
						
					</div>
				</div>

				<div class="admin-grid-section">
					<div class="col-sm-12 col-md-12 col-lg-12 col-12">
						<div class="ag-theme-material grid-max-size">
							<ag-grid-angular   #userListGrid
							style="width: 100%;"
							class="ag-theme-material"
							[gridOptions]="gridOptions"
							[rowData]="user_list"
							[columnDefs]="columnDefs"
							rowSelection="multiple"
							(gridReady)="this.common_params.onGridReady($event)">
						</ag-grid-angular>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
</div>

<ng-template #job_type_template>
	<form method="post" id="job_type-form" #job_type_overview_form="ngForm" (ngSubmit)="on_submit(job_type_overview_form.valid)">
		<div class="modal-header">
			<h4 class="modal-title pull-left">{{popup_title}} </h4>
			<button type="button" class="close pull-right" aria-label="Close" (click)="register_modal_ref.hide()">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body">
			<div class="input-with-icon-left" >
				<i class="icon-material-outline-location-city"></i>
				<input type="text" class="input-text with-border"  name="company_name"  [(ngModel)]="form_data.company_name" id="company_name" placeholder="Company Name" required  #company_name_obj="ngModel"/>
				<div *ngIf="company_name_obj.invalid && (company_name_obj.dirty || company_name_obj.touched)" class="text-danger small">
					Company Name is required. 
				</div>
			</div>
			<div class="input-with-icon-left" >
				<i class="icon-material-outline-location-city"></i>
				<select  class="with-border p-0"  title="Select Industry" name="industry" id="industry" [(ngModel)]="form_data.industry" required #industryobj="ngModel" (change)="select_industry()">
					<option value=""> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;  Select an Industry</option>
					<option *ngFor="let item of this.industry_list" [value]="item.id" class="t-t-cap"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp; {{item.name}}</option>
					<option value="-1"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; Other</option>
				</select>
				<div *ngIf="industryobj.invalid && (industryobj.dirty || industryobj.touched)" class="text-danger small">
					Industry is required. 
				</div>
			</div>
			
			<div class="input-with-icon-left mt-3"  *ngIf="form_data.industry == -1">
				<i class="icon-material-outline-location-city"></i>
				<input type="text" class="input-text with-border"  name="other_industry"  [(ngModel)]="other_industry" id="other_industry" placeholder="Enter Your Industry" required  #otherindustry="ngModel"/>
				<div *ngIf="otherindustry.invalid && (otherindustry.dirty || otherindustry.touched)" class="text-danger small">
					Industry is required. 
				</div>
			</div>
			
			<div class="input-with-icon-left mt-3">
				<i class="icon-material-outline-person-pin"></i>
				<input type="text" class="input-text with-border"  name="firstname"  [(ngModel)]="form_data.firstname" id="firstname" placeholder="First Name" required  #userfirstname="ngModel"/>
				<div *ngIf="userfirstname.invalid && (userfirstname.dirty || userfirstname.touched)" class="text-danger small">
					First Name is required. 
				</div>
			</div>
			
			<div class="input-with-icon-left">
				<i class="icon-material-outline-account-circle"></i>
				<input type="text" class="input-text with-border"  name="lastname"  [(ngModel)]="form_data.lastname" id="lastname" placeholder="Last Name" required  #userlastname="ngModel"/>
				<div *ngIf="userlastname.invalid && (userlastname.dirty || userlastname.touched)" class="text-danger small">
					Last Name is required. 
				</div>
			</div>
			
			<div class="input-with-icon-left">
				<i class="icon-material-baseline-mail-outline"></i>
				<input type="email" class="input-text with-border" [pattern]="this.common_params.email_valid_regex" name="email_address"  [(ngModel)]="form_data.email_address" id="email_address" placeholder="Email Address" required  #emailaddress="ngModel"/>
				<div *ngIf="emailaddress.invalid && (emailaddress.dirty || emailaddress.touched)" class="text-danger small">
					Valid Email Address is required. 
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<div class="row">
				<div class="col-xl-12">
					<div class="float-left">
						<button type="submit" class="button ripple-effect ml-2" [disabled]="job_type_overview_form.invalid"><i class="icon-feather-check"></i> {{action_button_text}} </button>
					</div>
					<div class="float-right">
						<button type="button" (click)="register_modal_ref.hide()" class="button gray ripple-effect ml-2"><i class="icon-line-awesome-times"></i> Close</button>
					</div>
				</div>
			</div>
		</div>
	</form>
</ng-template>

