<div class="page_data_loader" *ngIf="show_loader"></div>

<!-- Titlebar
	================================================== -->
	<div id="titlebar" class="gradient">
		<div class="container">
			<div class="row">
				<div class="col-md-12">

					<h2>Forgot Password</h2>

					<!-- Breadcrumbs -->
					<nav id="breadcrumbs" class="dark">
						<ul>
							<li><a>Home</a></li>
							<li>Forgot Password</li>
						</ul>
					</nav>

				</div>
			</div>
		</div>
	</div>


<!-- Page Content
	================================================== -->
	<div class="container">
		<div class="row">
			<div class="col-xl-5 offset-xl-3">


				<div class="login-register-page">
					<!-- Welcome Text -->
					<div class="welcome-text">
						<h3>Enter Email to Retrive your account</h3>
						<span>Don't have an account? <a [routerLink]="['/auth/registration']">Sign Up!</a></span>
					</div>

					<!-- Form -->
					<form method="post" id="login-form" #forpassForm="ngForm" (ngSubmit)="onSubmit(forpassForm.valid)">
						<div class="input-with-icon-left">
							<i class="icon-material-baseline-mail-outline"></i>
							<input type="email" class="input-text with-border mb-0 pb-0" [pattern]="this.common_params.email_valid_regex" name="email_address" [(ngModel)]="email_address" id="email_address" placeholder="Email Address" required #emailaddress="ngModel" />
							<div *ngIf="emailaddress.invalid && (emailaddress.dirty || emailaddress.touched)" class="text-danger small">
								Valid Email Address is required.
							</div>
						</div>
						<div class=" mt-2 mb-3">
							<a [routerLink]="['/auth/login']" class="forgot-password">Sign In ?</a>
						</div>
					</form>

					<!-- Button -->
					<button class="button full-width button-sliding-icon ripple-effect margin-top-10" type="submit" form="login-form" [disabled]="forpassForm.invalid">Send Email <i class="icon-material-outline-arrow-right-alt"></i></button>

					<!-- Social Login -->
					
					
				</div>

			</div>
		</div>
	</div>