<header id="header-container" class="fullwidth">

	<!-- Header -->
	<div id="header">
		<div class="container">
			
			<!-- Left Side Content -->
			<div class="left-side">
				
				<!-- Logo -->
				<div id="logo">
					<!-- <a href="index.html"><img src="assets/images/logo.png" alt=""></a> -->
					<a [routerLink]="['/user/dashboard']" class="header_footer_logo_text"  >Zestboard</a>
					
				</div>

				<!-- Main Navigation -->
				<nav id="navigation" [hidden]="header_flag != '1'" >
					<ul id="responsive">
						<li><a class="mt-1" [routerLink]="['/user/dashboard']" >Dashboard</a></li>
						
					</ul>
				</nav>
				<div class="clearfix"></div>
				<!-- Main Navigation / End -->
				
			</div>
			<!-- Left Side Content / End -->


			<!-- Right Side Content / End -->
			<!-- <div class="right-side" >
				<div class="header-widget hide-on-mobile">
					<div class="header-notifications">
						<div class="header-notifications-trigger">
							<p>Admin Section</p>
						</div>
					</div>
					<div class="header-notifications">
						<div class="header-notifications-trigger">
							<a href="javascript:;"><i class="icon-material-outline-power-settings-new"></i></a>
						</div>
					</div>
				</div>
			</div> -->
			<div class="right-side" *ngIf="hide_top_optios">

				<!--  User Notifications -->
				<nav id="navigation" [hidden]="header_flag != '1'" >
					<ul id="responsive">
						<li *ngIf="this.account_type == 'Student'">
							<a  href="javascript:;">My Jobs</a>
							<ul class="dropdown-nav">
								<li><a href="javascript:;">Saved Jobs</a> </li>
								<li><a href="javascript:;">Applied Jobs</a> </li>
								<li><a href="browse-companies.html">Contracts</a></li>
								<li><a href="browse-companies.html">Companies</a></li>
							</ul>
						</li>
						<li *ngIf="this.account_type == 'Company'">
							<a  href="javascript:;">My Jobs</a>
							<ul class="dropdown-nav">
								<li><a href="javascript:;"[routerLink]="['/jobs/posting']">Post Jobs</a> </li>
								<li><a href="javascript:;" [routerLink]="['/jobs/listing']">Job Listing</a> </li>
								<li><a href="browse-companies.html">Applications</a></li>
								<li><a href="browse-companies.html">Candidates</a></li>
							</ul>
						</li>
					</ul>
				</nav>
				<!--  User Notifications / End -->

				<!-- User Menu -->
				<div class="header-widget" [hidden]="header_flag != '1'" > <!-- -->

					<!-- Messages -->
					<div class="header-notifications user-menu" >
						<div class="header-notifications-trigger">
							<a href="javascript:;" (click)="header_open_toggle = !header_open_toggle"><div class="user-avatar status-online"><img src="{{preview_image}}" alt=""></div></a>
						</div>

						<!-- Dropdown -->
						<div class="header-notifications-dropdown" [ngClass]="{'header_class_override': header_open_toggle == true}">

							<!-- User Status -->
							<div class="user-status" *ngIf="this.user_account_data.length > 0">

								<!-- User Name / Avatar -->
								<div class="user-details">
									<div class="user-avatar status-online"><img src="{{preview_image}}" alt=""></div>
									<div class="user-name">
										{{this.user_account_data[0]['first_name']}} {{this.user_account_data[0]['last_name']}} 
										<span>{{this.user_account_data[0]['company_name']}}</span>
										<span>{{this.user_account_data[0]['account_type']}}</span>
									</div>
								</div>
								
								<!-- User Status Switcher -->
								<div class="status-switch" id="snackbar-user-status">
									<label class="user-online current-status">Online</label>
									<label class="user-invisible">Invisible</label>
									
									<span class="status-indicator" aria-hidden="true"></span>
								</div>	
							</div>
							
							<ul class="user-menu-small-nav">
								<li><a class="cursor-pointer" (click)="header_flag = '0'"><i class="icon-material-outline-dashboard"></i> Dashboard</a></li>
								<li><a class="cursor-pointer" (click)="header_flag = '0'"><i class="icon-material-outline-settings"></i> Settings</a></li>
								<li><a class="cursor-pointer" (click)="this.common_service.signout(); header_flag = '0'"><i class="icon-material-outline-power-settings-new"></i> Logout</a></li>
							</ul>

						</div>
					</div>

				</div>
				
				<!-- User Menu / End -->

				<!-- Mobile Navigation Button -->
				<span class="mmenu-trigger">
					<button class="hamburger hamburger--collapse" type="button">
						<span class="hamburger-box">
							<span class="hamburger-inner"></span>
						</span>
					</button>
				</span>

			</div>
			<!-- Right Side Content / End -->

		</div>
	</div>
	<!-- Header / End -->

</header>
<div class="clearfix"></div>