<div class="margin-top-50"></div>
<div class="page_data_loader_popup" *ngIf="show_loader"></div>

<div class="container">
	<div class="row">
		<div class="col-xl-3 col-lg-4">
			<div class="sidebar-container">
				<!-- Expertise -->
				<app-sidebar [page_id]="page_id"></app-sidebar>
				<!-- Keywords -->
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="col-xl-9 col-lg-8 content-left-offset">
			<form method="post" id="title_overview_form" #titleoverview="ngForm"
			(ngSubmit)="onSubmit(titleoverview.valid)">
			<app-card [cardMetaData]="{cardTitle: this.main_heading}">
				<div class="content with-padding padding-bottom-5">
					<h5>{{this.sub_heading}} </h5>
					<div class="text-muted"> {{this.sub_description}} </div>
					<br>
				</div>
				<div class="content with-padding padding-bottom-5">
					<div class="row">
						<div class="col-xl-12 col-12 col-sm-12 col-md-12">
							<div class="submit-field">
								<h5> {{this.title_input}}</h5>
								<input type="text" class="input-text with-border  mb-0 pb-0" name="title" id="title" [placeholder]="this.title_placeholder" required [(ngModel)]="form_data.job_title" #titleobj="ngModel" />
								<div *ngIf="titleobj.invalid && (titleobj.dirty || titleobj.touched)" class="text-danger small">
									{{this.title_input}} is required
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-xl-12 col-12 col-sm-12 col-md-12">
							<div class="submit-field">
								<h5> {{this.description_input}} </h5>
								<textarea type="text" class="input-text with-border  mb-0 pb-0" name="description" id="description" [placeholder]="this.desc_placeholder" required [(ngModel)]="form_data.professional_overview" #desciptionSection="ngModel" rows="10"></textarea>
								<div *ngIf="desciptionSection.invalid && (desciptionSection.dirty || desciptionSection.touched || titleoverview.submitted)" class="text-danger small">
									{{this.description_input}} is required
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="content with-padding padding-bottom-5" *ngIf="this.access_type != 'Company'">
					<a (click)="skip_steps()" class="btn btn-link"> Skip this step </a>
				</div>
			</app-card>
			<div class="row">
				<div class="col-xl-12">
					<div class="row">
						<div class="col-xl-6">
							<button type="submit" class="button ripple-effect big margin-top-30" [disabled]="titleoverview.invalid"><i
								class="icon-feather-check"></i> Save and Proceed</button>
							</div>

							<div class="col-xl-6">
								<button type="button" (click)="back_to_hr_rate()"
								class="button gray ripple-effect big margin-top-30 float-right" *ngIf="this.links.previous_link!=''"><i
								class="icon-feather-chevron-left"></i> Back</button>
							</div>
						</div>
					</div>

				</div>
			</form>


		</div>
	</div>
</div>