<div class="margin-top-50"></div>
<div class="page_data_loader_popup" *ngIf="show_loader"></div>

<div class="container">
	<div class="row">
		<div class="col-xl-3 col-lg-4">
			<div class="sidebar-container">
				<!-- Expertise -->
				<app-sidebar [page_id]="page_id"></app-sidebar>
				<!-- Keywords -->
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="col-xl-9 col-lg-8 content-left-offset">
			<form method="post" id="employment-card-form">
				<app-card [cardMetaData]="{cardTitle: 'Employment'}">
					<h5 class="mt-3 ml-3">Add your past work experience</h5>
					<div class="text-muted mt-3 ml-3">Build your credibility by showcasing the jobs you have done.</div>
					<br>

					<div class="employment_list_section" *ngIf="this.employment_list.length > 0">
						<div *ngFor="let employment of this.employment_list">
							<div class="employment_block row p-2 m-2">
								<div class="col-xl-8 col-8 col-sm-8 col-md-8">
									<h5>{{employment.company_name}}</h5>
									<span>{{employment.job_title}}</span> <br>
									<span>{{employment.from_month}} {{employment.from_year}} -
										<span *ngIf="employment.currently == 'true'">
											Present
										</span>
										<span *ngIf="employment.currently == 'false'">
											{{employment.to_month}} {{employment.to_year}}	
										</span>
										
									</span>

								</div>
								<div class="col-xl-4 col-4 col-sm-4 col-md-4">
									<button type="button" (click)="delete_employment(employment.student_experience_id)"
									class="btn btn-sm btn-secondary float-right ml-2"><i
									class="icon-feather-trash"></i> </button>

									<button type="button"
									(click)="edit_employment(template, employment.student_experience_id)"
									class="btn btn-sm btn-secondary float-right ml-2"><i
									class="icon-line-awesome-pencil"></i> </button>

								</div>
							</div>
						</div>
					</div>
				</app-card>
				<div class="row">
					<div class="col-xl-12">
						<div class="dashboard-box margin-top-0">
							<div class="content with-padding padding-bottom-10">

								<button type="button" class="btn btn-outline-primary"
								(click)="add_new_employment(template)"> <i class="icon-material-outline-add"></i>
							Add employment</button>
						</div>
						<div class="content with-padding padding-bottom-10">
							<a (click)="skip_steps()" class="btn btn-link"> Skip this step </a>
						</div>
					</div>
				</div>
				<div class="col-xl-12">
					<div class="row">
						<div class="col-xl-6">
							<button type="button" class="button ripple-effect big margin-top-30"
							(click)="go_to_languages()"><i class="icon-feather-check"></i> Next</button>
						</div>

						<div class="col-xl-6">
							<button type="button" (click)="back_to_education()"
							class="button gray ripple-effect big margin-top-30 float-right" *ngIf="this.links.previous_link!=''"><i
							class="icon-feather-chevron-left"></i> Back</button>
						</div>
					</div>
				</div>

			</div>
		</form>


	</div>
</div>
</div>


<ng-template #template>
	<form method="post" id="employment-form" #employmentform="ngForm" (ngSubmit)="onSubmit(employmentform.valid)">
		<div class="modal-header">
			<h4 class="modal-title pull-left">{{popup_title}} </h4>
			<button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body">
			<div class="row">
				<div class="col-xl-12 col-12 col-sm-12 col-md-12">
					<div class="submit-field">
						<h5> Company <span class="text-danger font-20">*</span></h5>
						<input type="text" class=" height-38 input-text with-border  mb-0 pb-0" name="company"
						id="company" placeholder="For ex. Google, IBM " required [(ngModel)]="form_data.company"
						#company="ngModel" />
						<div *ngIf="company.invalid && (company.dirty || company.touched)" class="text-danger small">
							Company is required
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xl-12 col-12 col-sm-12 col-md-12">
					<div class="submit-field">
						<h5> Job Title <span class="text-danger font-20">*</span></h5>
						<input type="text" class=" height-38 input-text with-border  mb-0 pb-0" name="job_title"
						id="job_title" placeholder="For ex. Software Developer" required
						[(ngModel)]="form_data.job_title" #jobtitlename="ngModel" />
						<div *ngIf="jobtitlename.invalid && (jobtitlename.dirty || jobtitlename.touched)"
						class="text-danger small">
						Job title is required
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xl-6 col-6 col-sm-6 col-md-6">
				<div class="submit-field">
					<h5>Country <span class="text-danger font-20">*</span></h5>
					<ng-container *ngIf="country_list.length > 0">										
						<ng-select [items]="country_list"  bindLabel="name" placeholder="Select Country" appendTo="body" [multiple]="false" name="country_list" id="country_list" [(ngModel)]="form_data.country" class="input1text with-border  mb-0 pb-0" required #CountryField="ngModel" (change)="get_state($event)"> </ng-select>
						<div *ngIf="CountryField.invalid && (CountryField.dirty || CountryField.touched || CountryField.submitted)" class="text-danger small"> Country is required </div>
					</ng-container>
				</div>
			</div>
			<div class="col-xl-6 col-6 col-sm-6 col-md-6">
				<div class="submit-field">
					<h5>State <span class="text-danger font-20">*</span></h5>
					<ng-container ><!-- *ngIf="state_list.length > 0" -->
						<ng-select [items]="state_list"  bindLabel="name" placeholder="Select State" appendTo="body" [multiple]="false" name="state_list" id="state_list" [(ngModel)]="form_data.state" class="input1text with-border  mb-0 pb-0" required #stateyField="ngModel" (change)="state_select($event)" > </ng-select>
						<div *ngIf="stateyField.invalid && (stateyField.dirty || stateyField.touched || stateyField.submitted)" class="text-danger small"> State is required </div>
					</ng-container>
					
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xl-6 col-6 col-sm-6 col-md-6">
				<!-- <div class="submit-field">
					<h5> City <span class="text-danger font-20">*</span></h5>
					<input type="text" class=" height-38 input-text with-border  mb-0 pb-0" name="location" id="location" placeholder="Enter Your location" required [(ngModel)]="form_data.location"
					#location="ngModel" />
					<div *ngIf="location.invalid && (location.dirty || location.touched)" class="text-danger small">
						City is required
					</div>
				</div> -->
				<div class="submit-field">
					<h5>City <span class="text-danger font-20">*</span></h5>
					<ng-container ><!-- *ngIf="city_list.length > 0" -->
						<ng-select [items]="city_list"  bindLabel="name" placeholder="Select City" appendTo="body" [multiple]="false" name="city_list" id="city_list" [(ngModel)]="form_data.location" class="input1text with-border  mb-0 pb-0" required #cityField="ngModel" (change)="city_select($event)" > </ng-select>
						<div *ngIf="cityField.invalid && (cityField.dirty || cityField.touched || cityField.submitted)" class="text-danger small"> City is required </div>
					</ng-container>
					
				</div>
			</div>
			<div class="col-xl-6 col-6 col-sm-6 col-md-6">
				<div class="submit-field">
					<h5> Zipcode </h5>
					<input type="text" class=" height-38 input-text with-border  mb-0 pb-0" name="zipcode" id="zipcode" placeholder="Enter Your Zipcode" [(ngModel)]="form_data.zipcode" #zipcode="ngModel" />
					<!-- <div *ngIf="zipcode.invalid && (zipcode.dirty || zipcode.touched)" class="text-danger small">
						Zipcode is required
					</div> -->
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xl-12 col-12 col-sm-12 col-md-12">
				<h6>Job Period </h6>
			</div>
			<div class="col-xl-6 col-6 col-sm-6 col-md-6">
				<div class="submit-field">
					<h5>From Month <span class="text-danger font-20">*</span></h5>
					<select class="form-control with-border" title="Select from" name="from" id="from"
					[(ngModel)]="form_data.from_month" required #from_Month="ngModel">
					<option value="">Select From Month</option>
					<option *ngFor="let year of this.month_arr" value="{{year.value}}">{{year.value}}</option>
				</select>
				<div *ngIf="from_Month.invalid && (from_Month.dirty || from_Month.touched)"
				class="text-danger small">
				From Month is required.
			</div>
		</div>
	</div>
	<div class="col-xl-6 col-6 col-sm-6 col-md-6">
		<div class="submit-field">
			<h5>From Year <span class="text-danger font-20">*</span></h5>
			<select class="form-control with-border" title="Select Year" name="Year" id="Year" [(ngModel)]="form_data.from_year" required #from_year="ngModel">
				<option value="">Select From Year</option>
				<option *ngFor="let year of this.year_array" value="{{year}}">{{year}}</option>
			</select>
			<div *ngIf="from_year.invalid && (from_year.dirty || from_year.touched)"
			class="text-danger small">
			From Year is required.
		</div>
	</div>
</div>
</div>
<div class="row">
	<div class="col-xl-12 col-12 col-sm-12 col-md-12 pb-3">
		<div class="checkbox">
			<input type="checkbox" title="Currently Working" name="currently_working" [value]="true" id="currently_working" [(ngModel)]="form_data.currently">
			<label for="currently_working"><span class="checkbox-icon"></span> Currently Working</label>
		</div>
	</div>
</div>
<div class="row" *ngIf="form_data.currently == false">
	<!-- <div class="col-xl-12 col-12 col-sm-12 col-md-12 text-center pb-3">
		<span class="text-muted">through</span>
	</div> -->
	<div class="col-xl-6 col-6 col-sm-6 col-md-6">
		<div class="submit-field">
			<h5>To Month <span class="text-danger font-20">*</span></h5>
			<select class="form-control with-border" title="Select from" name="from" id="from"
			[(ngModel)]="form_data.to_month" required #from_date="ngModel">
			<option value="">Select To Month</option>
			<option *ngFor="let year of this.month_arr" value="{{year.value}}">{{year.value}}</option>
		</select>
		<div *ngIf="from_date.invalid && (from_date.dirty || from_date.touched)"
		class="text-danger small">
		To Month is required.
	</div>
</div>
</div>
<div class="col-xl-6 col-6 col-sm-6 col-md-6">
	<div class="submit-field">
		<h5>To Year <span class="text-danger font-20">*</span></h5>
		<select class="form-control with-border" title="Select To year" name="year" id="year"
		[(ngModel)]="form_data.to_year" required #to_year="ngModel">
		<option value="">Select To Year</option>
		<option *ngFor="let year of this.year_array" value="{{year}}">{{year}}</option>
	</select>
	<div *ngIf="to_year.invalid && (to_year.dirty || to_year.touched)" class="text-danger small">
		To Year is required.
	</div>
</div>
</div>
</div>
<!-- <fieldset> -->
	<div class="row">
		<div class="col-xl-12 col-12 col-sm-12 col-md-12">
			<div class="submit-field">
				<h5> Description </h5>
				<textarea type="text" class="input-text with-border  mb-0 pb-0" name="description" id="description" placeholder="Describe your job" [(ngModel)]="form_data.description" #desciptionSection="ngModel"></textarea>
				<!-- <div *ngIf="desciptionSection.invalid && (desciptionSection.dirty || desciptionSection.touched)" class="text-danger small"> Description is required </div> -->
			</div>
		</div>
	</div>
	<!-- </fieldset> -->
</div>
<div class="modal-footer">
	<div class="row">
		<div class="col-xl-12">
			<div class="float-left">
				<button type="submit" class="button ripple-effect ml-2" [disabled]="employmentform.invalid"><i
					class="icon-feather-check"></i> {{action_button_text}} </button>
				</div>
				<div class="float-right">
					<button type="button" (click)="modalRef.hide()" class="button gray ripple-effect ml-2"><i
						class="icon-line-awesome-times"></i> Close</button>
					</div>
				</div>
			</div>
		</div>
	</form>
</ng-template>