<div class="margin-top-50"></div>
<div class="page_data_loader" *ngIf="show_loader"></div>

<div class="container">
	<div class="row">
		<div class="col-xl-3 col-lg-4">
			<div class="sidebar-container">

				<!-- Expertise -->
				<app-sidebar [page_id]="page_id"></app-sidebar>
				<!-- Keywords -->
				<div class="clearfix"></div>

			</div>
		</div>
		<div class="col-xl-9 col-lg-8 content-left-offset">
			<form method="post" id="expertise-form" #expertiselevelform="ngForm"
			(ngSubmit)="onSubmit(expertiselevelform.valid)">
			<app-card [cardMetaData]="{cardTitle: 'Job Location Preference'}">
				<div class="content with-padding padding-bottom-10">
					<h5>What is your preference?</h5>
					<ng-container *ngIf="location_preference.length > 0">
						<div class="row">
							<ng-container *ngFor="let items of location_preference">
								<div class="col-xl-6 col-6 col-sm-6 col-md-6">
									<div class="card cursor-pointer" (click)="select_level(items.value)">
										<div class="card-body text-center"
										[ngClass]="{'border border-primary': form_data.location_preference == items.value}">
										<div class="form-check">
											<input class="form-check-input text-right float-right w-100" type="radio" name="location_preference" id="expertiseLevel" [(ngModel)]="form_data.location_preference" [value]="items.value">
										</div>
										<br>
										<div class="text-center">{{items.heading}}</div>
										<span class="text-muted text-center"> {{items.description}}
										</span>
									</div>
								</div>
							</div>
						</ng-container>
					</div>
					<div class="mt-4" *ngIf="form_data.location_preference == '2'" >
						<!-- <div class="col-xl-6 col-6 col-sm-6 col-md-6">
							<div class="submit-field">
								<h5> Prefered Location Name</h5>
								<input type="text" class="input-text with-border  mb-0 pb-0" name="title" id="title" placeholder="Denmark, New York, D.C." required [(ngModel)]="form_data.prefered_location_name" #locationName="ngModel" />
								<div *ngIf="locationName.invalid && (locationName.touched || expertiselevelform.submitted)" class="text-danger small"> Name is required </div>
							</div>
						</div> -->
						<div class="row">
							<div class="col-xl-6 col-6 col-sm-6 col-md-6">
								<div class="submit-field">
									<h5>Prefered Country <span class="text-danger font-20">*</span></h5>
									<ng-container *ngIf="country_list.length > 0">										
										<ng-select [items]="country_list"  bindLabel="name" placeholder="Select Country" appendTo="body" [multiple]="false" name="country_list" id="country_list" [(ngModel)]="form_data.prefered_country" class="input1text with-border  mb-0 pb-0" required #CountryField="ngModel" (change)="get_state($event)"> </ng-select>
										<div *ngIf="CountryField.invalid && (CountryField.dirty || CountryField.touched || CountryField.submitted)" class="text-danger small"> Country is required </div>
									</ng-container>
								</div>
							</div>
							<div class="col-xl-6 col-6 col-sm-6 col-md-6">
								<div class="submit-field">
									<h5>Prefered  State <span class="text-danger font-20">*</span></h5>
									<ng-container> <!-- *ngIf="state_list.length > 0" -->
										<ng-select [items]="state_list"  bindLabel="name" placeholder="Select State" appendTo="body" [multiple]="false" name="state_list" id="state_list" [(ngModel)]="form_data.prefered_state" class="input1text with-border  mb-0 pb-0" required #stateyField="ngModel" (change)="state_select($event)" > </ng-select>
										<div *ngIf="stateyField.invalid && (stateyField.dirty || stateyField.touched || stateyField.submitted)" class="text-danger small"> State is required </div>
									</ng-container>
									
								</div>
							</div>
						</div>
						<div class="row" *ngIf="form_data.state != ''">
							<div class="col-xl-6 col-6 col-sm-6 col-md-6">
								<!-- <div class="submit-field">
									<h5> Prefered City <span class="text-danger font-20">*</span></h5>
									<input type="text" class=" height-38 input-text with-border  mb-0 pb-0" name="location_preference_name" id="City" placeholder="" required [(ngModel)]="form_data.location_preference_name" #location_preference_nameObj="ngModel" />
									<div *ngIf="location_preference_nameObj.invalid && (location_preference_nameObj.dirty || location_preference_nameObj.touched)" class="text-danger small"> City is required </div>
								</div> -->
								<div class="submit-field">
									<h5>City <span class="text-danger font-20">*</span></h5>
									<ng-container *ngIf="city_list.length > 0">										
										<ng-select [items]="city_list"  bindLabel="name" placeholder="Select City" appendTo="body" [multiple]="false" name="city_list" id="city_list" [(ngModel)]="form_data.location_preference_name" class="input1text with-border  mb-0 pb-0" required #cityField="ngModel" (change)="city_select($event)" > </ng-select>
										<div *ngIf="cityField.invalid && (cityField.dirty || cityField.touched || cityField.submitted)" class="text-danger small"> City is required </div>
									</ng-container>
								</div>
							</div>
						</div>
						<!-- <div class="row" *ngIf="form_data.prefered_location_name != ''">
							<div class="col-xl-6 col-6 col-sm-6 col-md-6">
								<div class="submit-field">
									<h5> Street Address</h5>
									<input type="text" class=" height-38 input-text with-border  mb-0 pb-0" name="prefered_street_address" id="prefered_street_address" placeholder="" required
									[(ngModel)]="form_data.prefered_street_address" #prefered_street_addressobj="ngModel" />
									<div *ngIf="prefered_street_addressobj.invalid && (prefered_street_addressobj.dirty || prefered_street_addressobj.touched)" class="text-danger small"> Street Address is required </div>
								</div>
							</div>
							<div class="col-xl-6 col-6 col-sm-6 col-md-6">
								<div class="submit-field">
									<h5> ZIP/Postal code</h5>
									<input type="text" class=" height-38 input-text with-border  mb-0 pb-0" name="zipcode" id="zipcode" placeholder="" [(ngModel)]="form_data.prefered_zipcode" #zipcode="ngModel" />
								</div>
							</div>
						</div> -->
					</div>
				</ng-container>
			</div>
		</app-card>
		<div class="row">

			<div class="col-xl-12">
				<div class="row">
					<div class="col-xl-6">
						<button type="submit" class="button ripple-effect big margin-top-30" [disabled]="expertiselevelform.invalid"><i class="icon-feather-check"></i> Save and Proceed</button>
					</div>

					<div class="col-xl-6">
						<button type="button" (click)="back_to_expertise()"
						class="button gray ripple-effect big margin-top-30 float-right" *ngIf="this.links.previous_link!=''"><i class="icon-feather-chevron-left"></i> Back</button>
					</div>
				</div>
			</div>

		</div>
	</form>


</div>
</div>
</div>