<div class="margin-top-50"></div>
<div class="page_data_loader" *ngIf="show_loader"></div>

<div class="container">
	<div class="row">
		<div class="col-xl-3 col-lg-4">
			<div class="sidebar-container">

				<!-- Expertise -->
				<app-sidebar [page_id]="page_id"></app-sidebar>
				<!-- Keywords -->
				<div class="clearfix"></div>

			</div>
		</div>
		<div class="col-xl-9 col-lg-8 content-left-offset">
			<form method="post" id="expertise-form" #expertiselevelform="ngForm"
			(ngSubmit)="onSubmit(expertiselevelform.valid)">
			<app-card [cardMetaData]="{cardTitle: 'Job Location Preference'}">
				<div class="content with-padding padding-bottom-10">
					<h5>What is your preference?</h5>
					<ng-container *ngIf="location_preference.length > 0">
						<div class="row">
							<ng-container *ngFor="let items of location_preference">
								<div class="col-xl-6 col-6 col-sm-6 col-md-6">
									<div class="card cursor-pointer" (click)="select_level(items.value)">
										<div class="card-body text-center"
										[ngClass]="{'border border-primary': form_data.location_preference == items.value}">
										<div class="form-check">
											<input class="form-check-input text-right float-right w-100" type="radio" name="location_preference" id="expertiseLevel" [(ngModel)]="form_data.location_preference" [value]="items.value">
										</div>
										<br>
										<div class="text-center">{{items.heading}}</div>
										<span class="text-muted text-center"> {{items.description}}
										</span>
									</div>
								</div>
							</div>
						</ng-container>
					</div>
					<div class="row mt-4" *ngIf="form_data.location_preference == '2'" >
						<div class="col-xl-6 col-6 col-sm-6 col-md-6">
							<div class="submit-field">
								<h5> Prefered Location Name</h5>
								<input type="text" class="input-text with-border  mb-0 pb-0" name="title" id="title" placeholder="Denmark, New York, D.C." required [(ngModel)]="form_data.prefered_location_name" #locationName="ngModel" />
								<div *ngIf="locationName.invalid && (locationName.dirty || locationName.touched)" class="text-danger small"> Name is required </div>
							</div>
						</div>
					</div>
				</ng-container>
			</div>
		</app-card>
		<div class="row">

			<div class="col-xl-12">
				<div class="row">
					<div class="col-xl-6">
						<button type="submit" class="button ripple-effect big margin-top-30" [disabled]="expertiselevelform.invalid"><i class="icon-feather-check"></i> Save and Proceed</button>
					</div>

					<div class="col-xl-6">
						<button type="button" (click)="back_to_expertise()"
						class="button gray ripple-effect big margin-top-30 float-right" *ngIf="this.links.previous_link!=''"><i class="icon-feather-chevron-left"></i> Back</button>
					</div>
				</div>
			</div>

		</div>
	</form>


</div>
</div>
</div>