<div class="margin-top-50"></div>
<div class="page_data_loader" *ngIf="show_loader"></div>

<div class="container">
	<div class="row">
		<div class="col-xl-3 col-lg-4">
			<div class="sidebar-container">
				<!-- Expertise -->
				<app-sidebar [page_id]="page_id"></app-sidebar>
				<!-- Keywords -->
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="col-xl-9 col-lg-8 content-left-offset">
			<form method="post" id="expertise-form" #expertiseform="ngForm" (ngSubmit)="onSubmit(expertiseform.valid)">
				<app-card [cardMetaData]="{cardTitle: 'Expertise'}">
					<div class="content with-padding padding-bottom-10">
						<div class="row">
							<div class="col-xl-12 col-12 col-sm-12 col-md-12">
								<div class="submit-field">
									<h5>Skill Set</h5>
									<ng-container *ngIf="skills_list.length > 0">										
										<ng-select [items]="skills_list"  bindLabel="name" placeholder="Select Skills" appendTo="body" [multiple]="true" name="skill_set" id="skill_set" [(ngModel)]="form_data.skills" class="input1text with-border  mb-0 pb-0" required #skillField="ngModel" > </ng-select>
										<div *ngIf="skillField.invalid && (skillField.dirty || skillField.touched || skillField.submitted)" class="text-danger small"> Skill Set is required </div>
									</ng-container>
									
								</div>
							</div>
						</div>
						
						<fieldset >
							<div class="row">
								<div class="col-xl-12 col-12 col-sm-12 col-md-12">
									<div class="submit-field">
										<h5> Enter your any other skills</h5>
										<input type="text" class="input-text with-border  mb-0 pb-0" name="other" id="other" placeholder="Enter Your other" [(ngModel)]="form_data.other" />
										<div class="text-muted">Enter Comma (,) Seperated</div>
										
									</div>
								</div>
							</div>
						</fieldset>

					</div>
				</app-card>
				<div class="col-xl-12">
					<div class="row">
						<div class="col-xl-6">
							<button type="submit" class="button ripple-effect big margin-top-30" [disabled]="expertiseform.invalid"><i class="icon-feather-check"></i> Save and Proceed</button>
						</div>

						<div class="col-xl-6">
							<button type="button" (click)="back_to_category()" class="button gray ripple-effect big margin-top-30 float-right"><i class="icon-feather-chevron-left "></i> Back</button>
						</div>
					</div>
				</div>

				<!-- </div> -->
			</form>


		</div>
	</div>
</div>