<div class="margin-top-50"></div>
<div class="page_data_loader_popup" *ngIf="show_loader"></div>

<div class="container">
	<div class="row">
		<div class="col-xl-3 col-lg-4">
			<div class="sidebar-container">
				<!-- Expertise -->
				<app-sidebar [page_id]="page_id"></app-sidebar>
				<!-- Keywords -->
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="col-xl-9 col-lg-8 content-left-offset">
			<form method="post" id="title_overview_form" #titleoverview="ngForm"
			(ngSubmit)="onSubmit(titleoverview.valid)">
			<app-card [cardMetaData]="{cardTitle: this.header_card_title}">
				<div class="content with-padding padding-bottom-5">
					<h5>Verify your identity to create a trusted marketplace</h5>
					<!-- <div class="text-muted">We use your street address and phone number to verify your identity, and your zip code to show relevant jobs. Only your city will be shown to clients.</div> -->
					<br>
				</div>
				<div class="content with-padding padding-bottom-5">
					<div class="row">
						<div class="col-xl-6 col-6 col-sm-6 col-md-6">
							<div class="submit-field">
								<h5>Country <span class="text-danger font-20">*</span></h5>
								<ng-container *ngIf="country_list.length > 0">										
									<ng-select [items]="country_list"  bindLabel="name" placeholder="Select Country" appendTo="body" [multiple]="false" name="country_list" id="country_list" [(ngModel)]="form_data.country" class="input1text with-border  mb-0 pb-0" required #CountryField="ngModel" (change)="get_state($event)"> </ng-select>
									<div *ngIf="CountryField.invalid && (CountryField.dirty || CountryField.touched || CountryField.submitted)" class="text-danger small"> Country is required </div>
								</ng-container>
							</div>
						</div>
						<div class="col-xl-6 col-6 col-sm-6 col-md-6">
							<div class="submit-field">
								<h5>State <span class="text-danger font-20">*</span></h5>
								<ng-container > <!-- *ngIf="state_list.length > 0" -->
									<ng-select [items]="state_list"  bindLabel="name" placeholder="Select State" appendTo="body" [multiple]="false" name="state_list" id="state_list" [(ngModel)]="form_data.state" class="input1text with-border  mb-0 pb-0" required #stateyField="ngModel" (change)="state_select($event)" > </ng-select>
									<div *ngIf="stateyField.invalid && (stateyField.dirty || stateyField.touched || stateyField.submitted)" class="text-danger small"> State is required </div>
								</ng-container>
								
							</div>
						</div>
					</div>
					<div class="row" >
						<div class="col-xl-6 col-6 col-sm-6 col-md-6">
							
							<div class="submit-field">
								<h5>City <span class="text-danger font-20">*</span></h5>
								<ng-select [items]="city_list"  bindLabel="name" placeholder="Select City" appendTo="body" [multiple]="false" name="city_list" id="city_list" [(ngModel)]="form_data.city" class="input1text with-border  mb-0 pb-0" required #cityField="ngModel" (change)="city_select($event)" > </ng-select>
								<div *ngIf="cityField.invalid && (cityField.dirty || cityField.touched || cityField.submitted)" class="text-danger small"> City is required </div>
								
							</div>
						</div>
					</div>
					<div class="row" *ngIf="form_data.city != ''">
						<div class="col-xl-6 col-6 col-sm-6 col-md-6">
							<div class="submit-field">
								<h5> Street Address <span class="text-danger font-20">*</span></h5>
								<input type="text" class=" height-38 input-text with-border  mb-0 pb-0"
								name="street_address" id="street_address" placeholder="" required
								[(ngModel)]="form_data.street_address" #street_address="ngModel" />
								<div *ngIf="street_address.invalid && (street_address.dirty || street_address.touched)"
								class="text-danger small">
								Street Address is required
							</div>
						</div>
					</div>
					<div class="col-xl-6 col-6 col-sm-6 col-md-6">
						<div class="submit-field">
							<h5> ZIP/Postal code <span class="text-danger font-20">*</span></h5>
							<input type="text" class=" height-38 input-text with-border  mb-0 pb-0"
							name="zipcode" id="zipcode" placeholder="" [(ngModel)]="form_data.zipcode" required
							#zipcode="ngModel" />
							<div *ngIf="zipcode.invalid && (zipcode.dirty || zipcode.touched)" class="text-danger small">
								ZIP/Postal code is required
							</div>
						</div>
					</div>
				</div>
			</div>
		</app-card>
		<div class="row">
			<div class="col-xl-12">
				<div class="row">
					<div class="col-xl-6">
						<button type="submit" class="button ripple-effect big margin-top-30" [disabled]="titleoverview.invalid"><i
							class="icon-feather-check"></i> Save and Proceed</button>
						</div>

						<div class="col-xl-6">
							<button type="button" (click)="back_to_title_overview()"
							class="button gray ripple-effect big margin-top-30 float-right" *ngIf="this.links.previous_link!=''"><i
							class="icon-feather-chevron-left"></i> Back</button>
						</div>
					</div>
				</div>

			</div>
		</form>


	</div>
</div>
</div>