/* You can add global styles to this file, and also import other style files */

@import "~@ng-select/ng-select/themes/default.theme.css";

.page_data_loader {
    position: fixed;
    opacity: .8;
    z-index: 100;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: url('assets/images/loader-6.svg') 50% 50% no-repeat #f4f7f6;
    background-size: 6%;
}

.page_data_loader_popup {
    position: fixed;
    opacity: .8;
    z-index: 1060;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: url('assets/images/loader-6.svg') 50% 50% no-repeat #f4f7f6;
    background-size: 6%;
}

.sub_page_data_loader {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: .8;
    z-index: 1;
    background: url('assets/images/loader-6.svg') 50% 50% no-repeat #f4f7f6;
    background-size: 6%;
}

.cursor-pointer{
	cursor: pointer !important;
    pointer-events: auto !important;
}

.education_block, .project_block , .license_cer_block, .employment_block {
  border-bottom: 1px solid #CCC;
}

.height-38{
    height: 38px !important;
}

.ng-select .ng-select-container{
    min-height: 38px !important;
    border: 1px solid #e0e0e0 !important;
    
}

.ng-select.ng-select-single .ng-select-container {
    height: 38px !important;
}


ng-select input {
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
    height: 38px !important;
}


.header_class_override{
    visibility: visible !important; 
    display: block !important; 
    opacity: inherit !important; 
    pointer-events: auto !important;
}

button:disabled {
    background-color: #6474e6 !important;
}

.header_footer_logo_text{
    font-size: 30px;
    color: #007bff;
    font-weight: 650;
    line-height: 80px;
    text-decoration: none;
}

.header_footer_logo_text:active,.header_footer_logo_text:hover, .header_footer_logo_text:visited, {
    color: #007bff;
    text-decoration: none;
}

.font-20{
    font-size:20px;   
}

.t-t-c{
    text-transform: capitalize;
}

.form-control{
    color: #000000 !important;
}

input, input[type=text], input[type=password], input[type=email], input[type=number], textarea, select{
    color: #000000 !important;
    padding: 0 11px !important;
}

body{
    color: #000000 !important;
    
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
    background-color: #f5faff;
    color: #000000 !important;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option{
    color: #000000 !important;
}

.submit-field h5, .content h5{
    color: #000000 !important;
}

.input-with-icon-left input {
    padding-left: 65px !important;
}

.job-desc-container{
    max-height: 184px;
    overflow: auto;
}

.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input{
        top: auto !important;
}