<div class="margin-top-50"></div>
<div class="page_data_loader_popup" *ngIf="show_loader"></div>

<div class="container">
	<div class="row">
		<div class="col-xl-3 col-lg-4">
			<div class="sidebar-container">
				<!-- Expertise -->
				<app-sidebar [page_id]="page_id"></app-sidebar>
				<!-- Keywords -->
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="col-xl-9 col-lg-8 content-left-offset">
			<form method="post" id="profile-card-form">
				<app-card [cardMetaData]="{cardTitle: 'Profile Photo'}">
					<div class="content with-padding padding-bottom-5">
						<div class="text-muted">Please upload a professional portrait that clearly shows your face.</div>
						<br>
					</div>
					<div class="content with-padding padding-bottom-10" *ngIf="preview_profile_photo!= ''">
						<div class="row">
							<div class="text-left col-md-4">
								<h5>Profile Picture Preview</h5>
								<img [src]="preview_profile_photo" />
							</div>
						</div>
					</div>
					<div class="content with-padding padding-bottom-10">

						<button type="button" class="btn btn-outline-primary" (click)="add_new_photo(template)">
							<i class="icon-material-outline-add"></i> Add Profile Photo</button>
						</div>
						<div class="content with-padding padding-bottom-10">
							<a (click)="skip_steps()" class="btn btn-link"> Skip this step </a>
						</div>
					</app-card>
					<div class="row">
						<div class="col-xl-12">
							<div class="row">
								<div class="col-xl-6">
									<button type="button" class="button ripple-effect big margin-top-30"
									(click)="go_to_location()"><i class="icon-feather-check"></i> Next</button>
								</div>

								<div class="col-xl-6">
									<button type="button" (click)="back_to_titleoverview()"
									class="button gray ripple-effect big margin-top-30 float-right" *ngIf="this.links.previous_link!=''"><i
									class="icon-feather-chevron-left"></i> Back</button>
								</div>
							</div>
						</div>

					</div>
				</form>
			</div>
		</div>
	</div>

	<ng-template #template>
		<form method="post" id="profile-form" #profilePhotoForm="ngForm" (ngSubmit)="onSubmit(profilePhotoForm.valid)">
			<div class="modal-header">
				<h4 class="modal-title pull-left">{{popup_title}} </h4>
				<button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="row" style="margin-top: 5%;">
					<div class="text-center col-md-12">
						<input type="file" (change)="fileChangeEvent($event)" />
					</div>
				</div>
				<div class="row" style="margin-top: 5%;">
					<div class="text-center col-md-8">
						<h5>Crop Image</h5>
						<!-- [imageFile]="imageChangedEvent"	 -->
						<image-cropper 
						[imageChangedEvent]="imageChangedEvent"
						[maintainAspectRatio]="true" 
						[aspectRatio]="4 / 4"
						[resizeToWidth]="256" 
						format="png" 
						(imageCropped)="imageCropped($event)" 
						(imageLoaded)="imageLoaded()"
						(cropperReady)="cropperReady()" 
						(loadImageFailed)="loadImageFailed()"></image-cropper>
					</div>
					<div class="text-center col-md-4">
						<h5>Preview</h5>
						<img [src]="croppedImage" />
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<div class="row">
					<div class="col-xl-12">
						<div class="float-left">
							<button type="submit" class="button ripple-effect ml-2" [disabled]="croppedImage == ''"><i
								class="icon-feather-check"></i> {{action_button_text}} </button>
							</div>
							<div class="float-right">
								<button type="button" (click)="modalRef.hide()" class="button gray ripple-effect ml-2"><i
									class="icon-line-awesome-times"></i> Close</button>
								</div>
							</div>
						</div>
					</div>
				</form>
			</ng-template>